<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/vue.js"></script>
    <title>list_sort ==> 列表排序</title>
</head>
<body>
    <div id="root">
        <input type="text" placeholder="输入姓名" v-model="keyword">
        <button @click="sortType = 2">年龄升序</button>
        <button @click="sortType = 1">年龄降序</button>
        <button @click="sortType = 0">还原</button>
        <ul>
            <li v-for="(p, index) in filterPersons" :key="index">{{p.name}}-{{p.age}}</li>
        </ul>
    </div>
    <script type="text/javascript">
        const x = new Vue({
            el: '#root',
            data: {
                persons: [
                    {id: 1, name: '马冬梅', age: 30},
                    {id: 2, name: '周冬雨', age: 10},
                    {id: 3, name: '周杰伦', age: 20},
                ],
                keyword: '',
                sortType: 0
            },
            computed: {
                filterPersons() {
                    const arr = this.persons.filter((p) => {
                        return p.name.indexOf(this.keyword) !== -1
                    })
                    if (this.sortType) {
                        console.log(this.sortType)
                        arr.sort((a, b) => {
                            return this.sortType === 1 ? b.age - a.age : a.age - b.age
                        })
                    }
                    return arr
                }
            }
        })
    </script>
</body>
</html>